label {
    margin: 0.25em 0.5em;
}

button {
    border: none;
    margin: 0.5em;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 2px 3px 5px #b4b4b4;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

input {
    margin: 0.5em;
}